---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
  <h1>{blok.heading}</h1>
  <div class="flex gap-3 object-contain w-72 h-52">
    <img
      id="dogs-gallery-1"
      src={blok.image[0].image.filename}
      alt="puppies!"
      class="transition-opacity duration-1000 ease-in-out opacity-100"
      data-images={JSON.stringify(
        blok.image.map((image) => image.image.filename)
      )}
    />
    <img
      id="dogs-gallery-2"
      src={blok.image[1].image.filename}
      alt="puppies!"
      class="transition-opacity duration-1000 ease-in-out opacity-100"
    />
    <img
      id="dogs-gallery-3"
      src={blok.image[2].image.filename}
      alt="puppies!"
      class="transition-opacity duration-1000 ease-in-out opacity-100"
    />
    <img
      id="dogs-gallery-4"
      src={blok.image[3].image.filename}
      alt="puppies!"
      class="transition-opacity duration-1000 ease-in-out opacity-100"
    />
  </div>
</div>

<script>
  const imageElements = Array.from({ length: 4 }, (_, i) =>
    document.getElementById(`dogs-gallery-${i + 1}`)
  );
  let imageArrayIndex = 0;

  function changeOpacity(element, opacity) {
    element.classList.remove(opacity === 100 ? "opacity-0" : "opacity-100");
    element.classList.add(opacity === 100 ? "opacity-100" : "opacity-0");
  }

  function fadeIn() {
    imageElements.forEach((element) => changeOpacity(element, 100));
  }

  function fadeOut() {
    imageElements.forEach((element) => changeOpacity(element, 0));
  }

  function updateImageIndex() {
    fadeOut();
    setTimeout(() => {
      let imageArray = JSON.parse(imageElements[0].dataset.images);
      imageArrayIndex = (imageArrayIndex + 1) % imageArray.length;

      imageElements.forEach((element, index) => {
        element.src = imageArray[(imageArrayIndex + index) % imageArray.length];
      });

      fadeIn();
    }, 600);
  }

  setInterval(updateImageIndex, 5000);
</script>
